:root{
    --topbar-bg-color:#2e3336;
    --bg-color:#F6F6F6;
    --sub-text-color:#17183b70;
    --main-text-color:#17183B;
    --yellow-color:#F4B300;
}
.custom-hide{
display: none !important;
}
.custom-logo{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.custom-logo > img:nth-child(1){
  width: 120px;
}
.custom-logo > img:nth-child(2){
  width: 80px;
}
.listing-filters  a.gallery-filter-active{
	background-color: white;
  border-radius: 8px;
}
.custom-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: var(--topbar-bg-color);
  position: fixed;
  top: 0;
  z-index: 100;
}
.custom-hamburger{
  display: none;
  font-size: 1.2rem;
}
.custom-nav ul{
  display: flex;
  list-style: none;
}
.custom-nav ul li a{
  display: block;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.2s;
  margin: 0 5px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}
/* .custom-nav ul li a.active{
  color: #17183B;
  background-color: white;

} */
.custom-nav ul li a:hover{
  color: #17183B;
  background-color: white;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wishlist-div {
  position: relative;
}
.wishlist-div > i {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
}
.signin-btn {
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.custom-search-btn {
  background-color: #1daeff;
  color: white;
}
.custom-hero-section-element{
    position: relative;
    z-index: 2;
}
.hero-search-div {
  display: flex;
  background-image: url("../images/svg/blur-effect.svg");
  backdrop-filter: blur(7px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      border-radius: 18px;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 0.5rem 1rem;
      align-items: center;
      gap: 0.5rem;
      width: 70%;
}
.hero-search-div input{
    background: none;
    border: none;
    min-height: 15px;
    width: 100%;
}
.hero-search-div input::placeholder{
    color: rgba(0, 0, 0, 0.555);
}
.hero-search-div button{
    /* width: 10px;
    height: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    background-color: #1daeff;
    color: white;
    margin-left: auto;
    gap: 0.5rem;
}
.hero-search-div button p{
  display: none;
}
.custom-hero-input-div{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    gap: 0.4rem;
}
.custom-hero-input-div{
    font-size: 1rem;
    font-weight: 500;
}
.hero-search-btn {
  border-radius: 13px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1daeff;
  font-size: 1rem;
}
.hero-search-btn i {
  margin: 0;
}
.custom-hero-section {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  background-color: var(--bg-color);
  position: relative;
}
.custom-slider-wrapper {
  width: 90%;
  height: 70vh;
  margin: auto;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* height: 100vh; */
}
.custom-slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
  position: absolute;
  transition: 1s;
}
.custom-slider-nav {
  position: absolute;
  z-index: 10;
  top: 50%;
  border-radius: 50px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.custom-slider-nav1 {
  left: 20px;
}
.custom-slider-nav2 {
  right: 20px;
}
.bg-vector-right{
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 1;
    opacity: 0.3;
    filter: grayscale(1);
}
.bg-vector-right-top{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.3;
    filter: grayscale(1);
}
.bg-vector-left{
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%) scaleX(-1);
    z-index: 1;
    opacity: 0.3;
    filter: grayscale(1);
}
.custom-adv-div{
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 0.8rem;
    width: 90%;
    overflow: hidden;
}
.custom-adv-div img{
    width: 50%;
}
.adv3{
  display: none;
}
.custom-recent-listing{
    width: 100vw;
  /* height: 100vh; */
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.adv2{
  display: block;
}
.custom-main-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.custom-sub-text{
    font-size: 0.9rem;
    font-weight: 600;
color: var(--sub-text-color);
}
.custom-main-text{
    padding-top: 0.3rem;
    color: var(--main-text-color);
}
.custom-recent-listing .listing-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
    z-index: 2;
}
.custom-recent-listing .listing-items img{
  width: 100%;
}
.custom-recent-listing .listing-items{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
.custom-recent-listing .listing-items:hover{
  box-shadow: #2e333679 5px 5px 20px;
  transform: scale(1.02);
}
.custom-top-div{
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  top: 5%; /* Move the child 50% down from the top of its parent */
  left: 50%; /* Move the child 50% from the left of its parent */
  transform: translate(-50%, 20%); /* Adjust the position to center it perfectly */
  z-index: 3;
}
.custom-recent-listing .listing-items .custom-overlay,.custom-recent-listing .listing-items img{
  border-radius: 15px;
}
.custom-bottom-div{
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  bottom: 5%; /* Move the child 50% down from the top of its parent */
  left: 50%; /* Move the child 50% from the left of its parent */
  transform: translate(-50%, -20%); /* Adjust the position to center it perfectly */
  z-index: 3;
  
}
.custom-bottom-div span{
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}
.custom-bottom-div .custom-image-subtext{
  color: rgba(255, 255, 255, 0.452);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  /* font-size: 1.2rem; */
  /* font-weight: 500; */
}
.custom-top-div span{
font-size: 1rem;
background-color: white;
padding: 0.2rem 0.4rem;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
gap: 0.3rem;
}
.custom-top-div div{
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  color: white;
  background-color: #ffffff36;
  border: 5px solid #ffffff15;
  border-radius: 20px;
}
.custom-top-div img{
  color: red;
}
.custom-span-text{
  font-weight: 500;

}
.custom-overlay{
  background: linear-gradient(to top, #17183B, transparent);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}
.custom-recent-listing .custom-seemore{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: right;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.custom-recent-listing .custom-seemore i{
  font-size: 0.9rem;
  font-weight: 600;
}
.custom-most-voted{
  width: 100vw;
    /* height: 80vh; */
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #d2d1d180;
    padding-bottom: 1rem;
}
.custom-about-us{
  width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.custom-contact-us{
  width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.custom-contact-items{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin: auto;
  width: 80%;
}
.custom-contact-items img{
  width: 20%;
  padding-bottom: 0.5rem;
}
.custom-contact-us .custom-contact-items a{
  background-color: #17183b11;
  border: 2px solid #17183b5d;
  /* min-width: 30vw;
  min-height: 30vw;
  aspect-ratio: 1/1; */
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.2s;
}
.custom-contact-us .custom-contact-items a:hover{
  transform: scale(1.01);
  background-color: #17183b33;
}
.custom-what-do-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
}
.custom-what-do-div >div:nth-child(2){
  margin-top: 5rem;
}
.custom-what-do-div img{
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}
.custom-what-do-text{
  font-size: 1rem;
  max-width: 80%;
  text-align: left;
  line-height: 1.5rem;
}
.custom-grid-content{
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 65% 35%; */
}
.custom-signup-section{
  background-color: #F6F6F6;
  height: 100vh;
  width: 100vw;
  /* position: relative; */
}
.custom-signup-section .ganesh-image{
  width: 60%;
}
.custom-grid-content .custom-signup-logo{
  position: absolute;
  left: 10px;
  top: 10px;
}
.custom-grid-content > div:nth-child(1){
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.custom-grid-content > div:nth-child(1) p{
  font-size: 1.2rem;
  font-weight: 600;
    color: var(--main-text-color)
}
.custom-image-section{
  width: 70%;
}
.custom-image-section img{
  width: 100%;
}
.custom-image-section > p:nth-child(2){
  text-align: left;
  font-size: 5rem;
}
.custom-image-section > p:nth-child(3){
  text-align: right;
}
.custom-grid-content > div:nth-child(1) p b{
  font-size: 2rem;
  font-weight: 600;
}
.custom-grid-content > div:nth-child(2){
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  height: 100vh;
  box-shadow: rgba(149, 157, 165, 0.055) -8px 0px 25px;
  min-width: 40vw;
}
.custom-grid-content > div:nth-child(2) .bg-vector-left, .custom-grid-content> div:nth-child(2) .bg-vector-right-top{
  display: none;
}
.custom-input-content{
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 0.7rem;
  margin: 1rem 0;
  overflow-y: auto;
  padding: 0 0.3rem;
  position: relative;
  z-index: 2;
}
.custom-input-content input{
  border: none;
    background: none;
    width: 100%;
    padding: 0.7rem 0;
}
.custom-input-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-input-content::-webkit-scrollbar-track {
  background: #17183b1f;
  height: 8px;
  
}

.custom-input-content::-webkit-scrollbar-thumb {
  background: #17183B;
  border-radius: 10px;
}

.custom-input-content::-webkit-scrollbar-thumb:hover {
  background: #232555;
}
.custom-input-content > div p{
  margin-bottom: 0.5rem;
  text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
}
.custom-banner-design-top{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  display: block;
}
.custom-input-btn{
  width: 100%;
  border: none;
  color: white;
  background-color: #17183B;
  border-radius: 8px;
  padding: 0.7rem 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  border: 2px solid transparent;
  position: relative;
  z-index: 2;
}
.custom-input-btn:hover{
  border: 2px solid #e0e0ec;
}
.custom-input-content > p{
  font-size: 1rem;
}
.custom-tabs{
  margin: 0 auto;
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  background-color: #17183b13;
  padding: 0.4rem;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}
.custom-tabs div{
  cursor: pointer;
  padding: 0.7rem 1rem;
  transition: all 0.5s;
}
.custom-tabs div.active{
  background-color: white;
  border-radius: 10px;
}
.custom-hero-single-section{
  width: 100vw;
  /* height: 100vh; */
  position: relative;
}
.custom-hero-single{
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.custom-hero-single-content{
  position: absolute;
  bottom: 15%;
  z-index: 3;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: left;
  width: 100%;
}
.custom-hero-single-content-heading{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.custom-hero-single-content-heading > span:nth-child(1){
  color: white;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}
.custom-hero-single-content-heading > span:nth-child(2){
  font-size: 1.1rem;
    background-color: white;
    padding: 0.4rem 0.4rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-weight: 600;
}
.custom-hero-single .custom-image-subtext{
  display: flex;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.61);
  font-weight: 500;
  font-size: 0.9rem;
}
.custom-hero-single-content-cta{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.custom-hero-single-content-cta >button:nth-child(1){
  background-color: #CA006B;
  border-radius: 5px;color: white;cursor: pointer;padding: 0.5rem 0;
  min-width: 12%;
  border: 2px solid #ffffff38;
  font-size: 1rem;
  font-weight: 500;
  min-height: auto;
}
.custom-hero-single-content-cta >button:nth-child(2){
  background-color: #fff;
  color: #17183B;
  border-radius: 35px;
  cursor: pointer;
  padding: 0.5rem 0rem;
  min-width: 12%;
  border: 2px solid #ffffff38;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  min-height: auto;
}
.custom-breadcrumbs{
  width: 90%;
  padding: 1rem 0;
  margin: auto;
  text-align: left;
  font-weight: 500;
  font-size: 0.8rem;
}
.custom-single-list-details{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}
.custom-single-list-details div{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 8px;
  line-height: 1.2rem;
  /* min-height: 40vh; */
}
.custom-single-list-details> div:nth-child(1){
  padding: 1rem;
}
.custom-single-list-details> div:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.custom-single-div{
  text-align: left;flex-direction: column;display: flex;background-color: white;
  padding: 1rem;
}

@media screen and (min-width: 710px) and (max-width: 850px){
  .custom-hero-single-content-cta >button:nth-child(1),.custom-hero-single-content-cta >button:nth-child(2){
    min-width: 15%;
  }
  .custom-bottom-div div span{
    font-size: 1rem;
  }
  .custom-bottom-div div .custom-image-subtext{
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 970px){
  .custom-what-do-div{
    position: relative;
  }
  .custom-what-do-div >div:nth-child(1){
    opacity: 0.2;
  }
  .custom-what-do-div >div:nth-child(2){
    position: absolute;
    margin-top: 0;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 80%;
  }
  .custom-what-do-text{
    max-width:none;
  }
}
@media only screen and (max-width: 710px){
  .adv3{
    display: flex;
  }
  .adv2{
    display: none;
  }
  .custom-single-list-details{
    grid-template-columns: repeat(1,1fr);
  }
  .custom-hero-single-content-cta >button:nth-child(1){
    min-height: 50px;
  }
  .custom-hero-single-content-cta >button:nth-child(2){
    min-height: 50px;
    border-radius: 5px;
  }
  .custom-hero-single-content-cta{
    flex-direction: column;
    gap: 1rem;
  }
  .custom-hero-single-content{
    padding: 0 1.5rem;
    bottom: 15%;
  }
  .custom-hero-single{
    height: 100vh;
  }
  .custom-grid-content > div:nth-child(2) .bg-vector-left, .custom-grid-content> div:nth-child(2) .bg-vector-right-top{
    display: block;
  }
  .custom-grid-content > div:nth-child(2){
    padding: 2rem 1rem;
  }
  .custom-input-content input{
    padding: 1rem 0;
  }
  .custom-banner-design-top{
    display: none;
  }
  .custom-grid-content{
    flex-direction: column;
  }
  .custom-grid-content > div:nth-child(1){
    display: none;
  }
  .custom-contact-us{
    height: auto;
  }
  .custom-header{
    padding: 1rem;
  }
  .custom-hero-input-div{
    width: 100%;
  }
  .custom-contact-items{
    grid-template-columns: repeat(1,1fr);
    padding-bottom: 1rem;
    width: 90%;
  }
  .custom-contact-items img{
    width: 20%;
  }
  .custom-most-voted{
    height: 100%;
  }
  .bg-vector-left,.bg-vector-right,.bg-vector-right-top{
    width: 40%;
  }
  .custom-recent-listing .custom-seemore{
    justify-content: center;
  }
    .hero-search-div{
        flex-direction: column;
    }
    .hero-search-div button{
        width: 100%;
    }
    .hero-search-div button p{
        display: block;
    }
    .custom-slider-wrapper{
        border-radius: 0;
        width: 100%;
    }
    .custom-hero-section {
        padding-top: 0rem;
        
      }
    .hero-search-div{
        width: 90%;
        gap: 1rem;
        bottom: 0%;
        border-radius: 10px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .custom-recent-listing .listing-grid{
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;
      width: 80%;
    }
    .custom-bottom-div div span{
      font-size: 1.2rem;
    }
    .custom-slider-nav{
      display: none;
  }
  .custom-slider-wrapper{
      height: 100vh;
  }
  .custom-hamburger{
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
  }
  .custom-nav{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: var(--topbar-bg-color);
    transition: 0.2s;
    overflow: hidden;
  }
  .custom-nav.active{
    height: fit-content;
  }
  .custom-nav ul{
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .custom-nav.active ul{
    opacity: 1;
  }
  .custom-nav ul li a{
    margin-bottom: 12px;
  }
}

